@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
:root{
    --sign-size:90px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    display: none;

}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
    font-size: var(--sign-size);

}


.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}


.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x::after,
.cell.x::before,
.cell.o::before{
    background-color: black;

}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before{
    background-color: lightgrey;
}

.cell.x::after,
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    position: absolute;
    content: "";
    width: calc(var(--sign-size)*0.15);
    height: var(--sign-size);
}


.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(45deg);
}



.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before
{
    transform: rotate(-45deg);
}






.cell.o::after,
.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    position: absolute;
    content: "";
    border-radius: 50%;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{
    width: calc(var(--sign-size)*0.7);
    height: calc(var(--sign-size)*0.7);
    background-color: white;
}


.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before{
    width: var(--sign-size);
    height: var(--sign-size);
}

.cell.x,
.cell.o{
    cursor: not-allowed;
}